*{
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
header{
    background-color:#E6CCB2 ;
}
img{
    border-radius: 500px;
    width: 100px;
}
h1{
    text-align: center;
}
table tr td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: #EDE0D4;
}
form{
    text-align: right;

}
.contacto{
    text-align: right;
}
h5{
    text-align: center;
}

#mifoto{
    width: 60%;
}
h2{
    color: black;
    text-align: center;
}
h6{
    text-align: center;
}
h5{
    text-align: center;
    padding: 1px;
}
.mensaje{
    text-align: right;
}
.preguntas{
    width: 500px;
}